* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.app {
  max-width: 450px;
  width: 100%;
  box-shadow: 2px 2px 7px 7px rgba(77, 77, 77, 0.24);
  padding: 20px 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  text-align: center;
}

.todo-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 1px 1px 2px 2px rgba(88, 88, 88, 0.2);
  margin-bottom: 1px;
  height: 45px;
  padding: 10px;
}
.input {
  width: 100%;
  border: none;
  outline: none;
  box-shadow: 1px 1px 2px 2px rgba(88, 88, 88, 0.2);
  height: 45px;
  padding-left: 45px;
  margin-top: 25px;
}
.btn {
  position: relative;
  top: -35px;
  left: 10px;
  width: 25px;
  height: 25px;
  
}
.btn-delete {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  width: 25px;
  height: 25px;
}
.success {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.unsuccess {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.through {
  text-decoration: line-through;
}
.status {
  width: 100%;
  box-shadow: 1px 1px 2px 2px rgba(88, 88, 88, 0.2);
}
.wrapper {
  height: 45px;
  padding: 10px;
}
.btns {
  color: #000;
}
.inner {
  width: 90%;
}
